*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


#string path{
 margin-left: 200px;;
    
}
body{
    background-color: #111;
}
html,
body {
height:100%;
width: 100%;
}
#string{
    height: 200px;
    width: 100%;
    /* background-color: rebeccapurple; */
}
